@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.ringContainer * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.ringContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e6ecff;
  width: 100%;
  overflow: hidden;
}

.ring {
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.login h2 {
  font-size: 2em;
  color: #000;
}

.login .inputBx {
  position: relative;
  width: 100%;
}

.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 7px 20px;
  background: transparent;
  border: 2px solid #000;
  border-radius: 40px;
  font-size: 1.1em;
  color: #000;
  font-weight: 600;
  box-shadow: none;
  outline: none;
  background-color: #fff;
}

.login .inputBx input[type="submit"] {
  width: 100%;
  background-color: #5D9DE5;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login .inputBx input::placeholder {
  color: rgba(89, 89, 89, 0.75);
}

.login .errorMessage {
  color: rgb(255, 35, 35);
  font-weight: 600;
}

.login .checkbox {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 0px 5px;
  color: #000;
  gap: 5px;
}

.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.login .links a {
  color: #000;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: #5D9DE5;
  }
}

@media (max-width: 700px) {
  .ring i {
    display: none;
  }
}

@media (max-width: 400px) {
  .login {
    width: 250px;
  }
}