@import "tailwindcss";

:root {
  --element-bg: #5d9de5;
  --element-bg-hover: #4184d0;
}

* {
  box-sizing: border-box;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}