@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Important for removing extra space */
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}